*{ padding: 0; margin: 0; box-sizing: border-box; }

body{ max-width: 400px; height: 100vh; margin: 0 auto; display: flex; justify-content: center;align-items: center; }

:root{ --background-color: #fff; --text-color: #000; --menu-color: yellow;   --menu-text-color:#555; }

.dark-theme{ --background-color: #555; --text-color: #fff; --menu-color: #666060 ; --menu-text-color: snow; }

.menu{ width: 250px; height: 100vh; padding: 25px; background:var(--menu-color);  z-index: 100; position: absolute; top: -500vh; transform: translateX(-10px); transition: 0.5s; }
.menu li{ list-style-type: none; padding: 10px; text-align: left; cursor: pointer;}
.menu li a, .mode, .menu li p{ color: var(--menu-text-color); text-decoration: none; font-size: 20px; transition: 0.2s; }
.menu li a:hover, .mode:hover, .menu li p:hover{ font-weight: 550; }
.mode{ display: flex; align-items: center; }
.mode img{ width: 20px; height: 20px; margin-left: 15px;  border-radius: 50%;  background-color: #555; }
.showmenu{ top: 0; }

.acceuil{  width: 300px; height: 80%; border: outset; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align:center; position: relative; }
.acceuil .emoj{  margin-bottom: 10%;  height: 20%; width: 30%;  border-radius: 100%;  font-size: 3.6rem;  box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.5);}
.acceuil .emoj p{ animation: move  1.5s linear infinite alternate-reverse; } 
@keyframes move { 100%{ margin-left: 8px;transform: rotate(45deg); } }
.acceuil p{ margin-top: 10%; }
.acceuil .start{ position: absolute; top: 85%;  width: 90%;height: 8%;    }
.acceuil .start button{ background: rgba(35, 45, 129, 0.664); width: 100%; height: 100%; border-radius: 30px; cursor: pointer; transition: 1s; }
.acceuil .start button:hover{ background:  rgb(87, 134, 173); }

.caculator{ display: none; border:outset; background: var(--background-color); color: var(--text-color); max-width: 350px; margin: 50px auto; padding: 10px; z-index: 10;}

header{ display: flex;justify-content: space-between; box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)}

h1{ padding: 10px 0; margin: 0 auto; text-transform: capitalize; font-size: 1.2rem; text-align: center; }

.clock {
    font-familY: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex; flex-direction: column; justify-content: center; text-align: center;
    background: #b1aeae; margin: 10px 0; box-shadow: 5px 5px 15px rgba(255,255,255,.3);
}

.menu1{  float: right;  width: 40px;  margin: 0;  display: flex;  flex-direction: column;  align-items: center;  cursor: pointer;  padding-top: 10px; }
.menu2{ height: 1px; width: 13px; background-color: var(--text-color); margin-top: 3px;  }
main{ border: double; display: flex; flex-direction: column; align-items: center; margin-top: 5px; height: 450px; width: 290px;}

#cal{  width: 270px; height: 40px; margin: 5px auto; border-radius: 20px; border: 2px solid blue; background: #a1abb4; font-size: 13px; text-align:center; }

.touches{ padding: 5px; display: grid; grid-template-columns: repeat(5,50px); grid-template-rows: repeat(7,50px); grid-gap: 5px; }
.touches input, .titre input{ border: 1px solid darkblue; border-radius: 10px; font-family: sans-serif; cursor: pointer; transition: 1s; }
.touches .eff, .plus .eff{ background: rgba(234, 147, 147, 0.688); }
.touches .news{ background: rgba(54, 87, 121, 0.471); display: none; }
.touches input:hover, .titre input:hover{ background: #0b6fdc/*rgba(180, 176, 176, 0.471)*/; box-shadow: 2px 2px 10px rgba(255,255,255,.3); }

.plus{ padding: 5px; margin: 0 5px;  display: none; }
.plus .titre{ display: flex; align-items: center;}
.titre .eff{ width: 45px; height: 25px;}
.plus li{ list-style: none; display:flex ; flex-direction: column; gap: 5px; justify-content: center; margin-bottom: 10px; }
.plus li .enter, .plus li .calcul{ display: flex; }
.plus input,.plus textarea{ width: 100%; padding: 5px; text-align: center;}
.plus li .calcul input:hover{ cursor: pointer; background-color: #0b6fdc;}
.plus .age{ width: 30%; margin-left: 5px; cursor: pointer;}
.plus #date:hover{background-color: initial;}

.jeu{ display: none; max-width:290px; width: 100%; height: 450px; padding: 60px 10px 120px 10px; margin: 10px auto; text-align: center; border-radius: 10px; box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);}
.jeu h2{margin: 20px auto; font-size: 35px; font-weight: bold; line-height: 60px; color: #999;}
.jeu p{margin: 20px 0;}
.jeu form, .jeu .link{ display: flex; width: 100%;}
.jeu input{width: calc(100% - 100px); padding: 16px 5px; outline: 0; border: 2px solid #0b6fdc; border-radius: 60px 0 0 60px; text-align: center;}
.jeu button{width: 100px; border: 1px solid #0b6fdc; background-color: #0b6fdc; color: #fff; border-radius: 0 60px 60px 0; cursor: pointer;}
.jeu .link input{ display: none; width: 100%; border: 2px solid #0b6fdc; border-radius: 60px; background-color: #0b6fdc; padding: 20px ; margin: 0; color: #fff; transition: 0.5s; cursor: pointer;}
.jeu .link input:hover, .jeu button:hover{background-color: #a1abb4; color: #0b6fdc; border: none;}





/* revoir les couleurs */